img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vw;
<<<<<<< HEAD
}

#grid-container {
    transform: rotate(-30deg);
=======
>>>>>>> 7701c09dba42514dfc1e1a9c69a645c8b9f865ae
}